<!--pages/enroll/enroll.wxml-->
<image class="pic" src="/images/wel.jpg"></image>
<view class="top">
  <image class="cor" src="/images/wvip.png"></image>
  <view class="tit">
    <image class="logo" src="/images/bvip.png"></image>
    <text class="wel">欢迎办理会员卡</text>
  </view>
  <view class="tel">
    <text class="phn">Tel : {{telphonum}}</text>
  </view>
</view>
<view class="wri">
  <view class="row">
    <view class="lef">
      <image class="img" src="/images/nam.png"></image>
      <text class="txt">姓名</text>
      <input id="name" placeholder="会员姓名" placeholder-style="font-size:32rpx; color:#e5e5e5;" class="finp" bindinput='nameInput' type='text'></input>
    </view>
  </view>
  <view class="row">
    <view class="lef">
      <image class="img" src="/images/opho.png"></image>
      <text class="txt">号码</text>
      <input id="name" maxlength="11" placeholder="绑定手机号" placeholder-style="font-size:32rpx; color:#e5e5e5;" class="sinp" disabled='' bindinput='phonumberInput' type="number"></input>
      <!-- <button class="get" open-type="getPhoneNumber" bindgetphonenumber="getPhoneNumber">
        <text class="check">验证微信手机号</text>
      </button> -->
    </view>
  </view>
  <view class="row">
    <view class="lef">
      <image class="img" src="/images/psw.png"></image>
      <text class="txt">密码</text>
      <input id="name" maxlength="8" placeholder="请设定密码（6至8位）" placeholder-style="font-size:32rpx; color:#e5e5e5;" class="finp" type="password" bindinput='passwordInput'></input>
    </view>
  </view>
  <view class="row">
    <view class="lef">
      <image class="img" src="/images/bir.png"></image>
      <text class="txt">生日</text>
      <picker mode="date" start="1921-01-01" end="{{currentdate}}" bindchange="bindDateChange">
        <input id="birthdate" placeholder="{{birthdate}}" placeholder-style="font-size:32rpx; color:#000000;" class="tinp" bindinput="bindDateChange" disabled='true'></input>
      </picker>
      <image class="img" src="/images/gar.png" bindtap="bindDateChange"></image>
    </view>
  </view>
  <view class="row">
    <view class="lef">
      <image class="img" src="/images/gen.png"></image>
      <text class="txt">性别</text>
      <radio-group class="radio-group" bindchange="radioChange">
        <radio value="1" checked='true' />男
        <radio value="2" class="radio-item" />女
      </radio-group>
      <!-- <input id="location" placeholder="点击选择性别哦~" placeholder-style="font-size:32rpx; color:#e5e5e5;" class="tinp" value='{{gender}}' disabled='true'></input>
      <image class="img" src="/images/gar.png"></image> -->
    </view>
  </view>
  <!-- <view class="row">
    <view class="lef">
      <image class="img" src="/images/rel.png"></image>
      <text class="txt">地址</text>
      <input id="location" placeholder="详细地址" placeholder-style="font-size:32rpx; color:#e5e5e5;" class="tinp" value='{{location}}'></input>
      <image class="img" src="/images/gar.png"></image>
    </view>
  </view> -->
</view>
<view class="cha" bindtap='signin'>
  <text class="no">已有账号？点击登陆</text>
</view>
<form bindsubmit="formSubmit" bindreset="formReset" report-submit="true">
  <view class="btn-area">
    <button class="sign" formType="submit">
      <text class="zhuce">注册</text>
    </button>
  </view>
</form>