/* pages/enroll/enroll.wxss */

.pic {
  width: 92%;
  height: 300rpx;
  margin-top: 40rpx;
  margin-left: 4%;
  margin-right: 4%;
  border-radius: 25rpx;
}

.top {
  width: 88%;
  height: 280rpx;
  left: 6%;
  right: 6%;
  top: 50rpx;
  margin: auto;
  position: absolute;
}

.cor {
  width: 100rpx;
  height: 100rpx;
  top: -15rpx;
  right: 10rpx;
  position: absolute;
}

.tit {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 60rpx;
  margin-left: 5%;
  margin-right: 5%;
}

.logo {
  width: 120rpx;
  height: 120rpx;
}

.wel {
  font-size: 38rpx;
  margin-left: 30rpx;
  color: #fff;
}

.tel {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 30rpx;
  margin-right: 20rpx;
}

.phn {
  font-size: 35rpx;
  margin-left: 30rpx;
  color: #fff;
}

.wri {
  width: 90%;
  height: 580rpx;
  margin-left: 5%;
  margin-right: 5%;
  top: 30rpx;
  margin: auto;
  position: relative;
}

.row {
  width: 100%;
  height: 80rpx;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1rpx solid #e5e5e5;
  margin-top: 15rpx;
  padding-bottom: 15rpx;
}

.lef {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.img {
  width: 60rpx;
  height: 60rpx;
  margin-left: 30rpx;
}

.txt {
  font-size: 32rpx;
  margin-left: 30rpx;
}

.finp {
  width: 430rpx;
  font-size: 32rpx;
  color: #000;
  display: flex;
  justify-content: flex-start;
  margin-left: 50rpx;
}

.sinp {
  width: 430rpx;
  font-size: 32rpx;
  color: #000;
  display: flex;
  justify-content: flex-start;
  margin-left: 50rpx;
}

.tinp {
  width: 350rpx;
  font-size: 32rpx;
  color: #000;
  display: flex;
  justify-content: flex-start;
  margin-left: 50rpx;
}

.get {
  width: 240rpx;
  height: 60rpx;
  display: flex;
  justify-content: flex-start;
  background-color: #fa5902;
  font-size: 32rpx;
  border-radius: 15rpx;
  align-items: center;
  border-style: solid;
  border-width: 3rpx;
  border-color: #f63f07;
}

.check {
  margin-left: 5rpx;
  font-size: 24rpx;
  color: white;
}

.sign {
  width: 40%;
  height: 80rpx;
  display: flex;
  align-items: center;
  margin-top: 100rpx;
  margin-left: 30%;
  margin-right: 30%;
  background-color: #fa5902;
  border-radius: 60rpx;
  border-style: solid;
  border-width: 3rpx;
  border-color: #f63f07;
}

.zhuce {
  color: white;
  font-size: 32rpx;
  margin-left: auto;
  margin-right: auto;
}

.cha {
  left: 0rpx;
  right: 0rpx;
  height: 40rpx;
  margin-top: 10rpx;
  margin-left: 380rpx;
  position: absolute;
}

.no {
  color: #fa5902;
  font-size: 35rpx;
  margin-left: 10rpx;
  font-family: "楷体";
}

.radio-group {
  font-size: 32rpx;
  margin-left: 50rpx;
}

.radio-item {
  margin-left: 80rpx;
}
