<!--pages/myorder/myorder.wxml-->
<view class="swiper-tab">
  <view class="tab-item {{currentTab==0 ? 'on' : ''}}" data-current="0" bindtap="swichNav">全部</view>
  <view class="tab-item {{currentTab==1 ? 'on' : ''}}" data-current="1" bindtap="swichNav">待使用</view>
  <view class="tab-item {{currentTab==2 ? 'on' : ''}}" data-current="2" bindtap="swichNav">未支付</view>
  <view class="tab-item {{currentTab==3 ? 'on' : ''}}" data-current="3" bindtap="swichNav">套餐扣次</view>
</view>

<swiper current="{{currentTab}}" class="swiper" duration="300" style="height:{{winHeight - 40}}px" bindchange="bindChange">
  <swiper-item>
    <scroll-view class='con' scroll-y="true">
      <view class='aro' wx:for="{{order_all}}" wx:key="{{index}}" data-idx="{{index}}">
        <view class='firs'>
          <view class='shop'>
            <image class='sim' src='/images/shop.png'></image>
            <text class='shona'>{{item.shop_name}}</text>
            <image class='adim' src='/images/gar.png'></image>
          </view>
          <view class='stat'>
            <text class='pay' style="color:{{item.y_help.zhifu.col}}">{{item.y_help.zhifu.txt}}</text>
            <text class='ord' style="color:{{item.y_help.dingdan.col}}">{{item.y_help.dingdan.txt}}</text>
          </view>
        </view>
        <view class='seco'>
          <view class='goods' wx:for="{{item.order_detail}}" wx:key="{{index}}" data-idx="{{index}}">
            <view class='zuo'>
              <image class='bim' src='{{item.photo_url}}'></image>
              <text class='name'>{{item.goods_name}}</text>
            </view>
            <view class='you'>
              <view class='nopr'>¥ {{item.unit_price}}</view>
              <view class='olpr'>¥ {{item.original_price}}</view>
              <view class='qua'>X{{item.quantity}}</view>
            </view>
          </view>
          <view class='detail'>
            <view class='bat'>微信支付金额：¥ {{item.wechat_pay_money}} 元</view>
            <view class='bat'>余额支付金额：¥ {{item.y_help.yue_money}} 元</view>
            <view class='bat'>已优惠金额：¥ {{item.discount_money}} 元</view>
            <view class='bat'>总支付金额：¥ {{item.total_to_pay_money}} 元</view>
            <view class='bat'>支付时间：{{item.y_help.zhifu_time}}</view>
            <view class='bat'>下单时间：{{item.y_help.xiadan_time}}</view>
          </view>
        </view>
        <view class='thir'>
          <view class='lef'>
            <view class='texty'>订单类型：</view>
            <view class='orty' style="color:{{item.y_help.leixing.col}}; border-color:{{item.y_help.leixing.col}}">{{item.y_help.leixing.txt}}</view>
          </view>
          <view class='rig'>查看详情</view>
        </view>
      </view>
      <view class='bot'></view>
    </scroll-view>
  </swiper-item>
  <swiper-item>
    <scroll-view class='con' scroll-y="true">
      <view class='records' wx:for="{{to_be_used}}" wx:key="{{index}}" data-index="{{index}}">

        <view class='row'>
          <view>兑换商品名: {{item.order_detail[0].goods_name}}</view>
        </view>

        <view class='row'>

          <view>商店: {{item.shop_name}}</view>

          <button class='receive_status' disabled='{{receive_disabled}}' bindtap='receive' data-index="{{index}}">去使用</button>

        </view>

        <view class='row'>来源: {{item.note}} </view>

      </view>
    </scroll-view>
  </swiper-item>
  <swiper-item>
    <scroll-view class='con' scroll-y="true">
      <view class='aro' wx:for="{{no_pay_order}}" wx:key="{{index}}" data-idx="{{index}}">
        <view class='firs'>
          <view class='shop'>
            <image class='sim' src='/images/shop.png'></image>
            <text class='shona'>{{item.shop_name}}</text>
            <image class='adim' src='/images/gar.png'></image>
          </view>
          <view class='stat'>
            <text class='pay' style="color:{{item.y_help.zhifu.col}}">{{item.y_help.zhifu.txt}}</text>
            <text class='ord' style="color:{{item.y_help.dingdan.col}}">{{item.y_help.dingdan.txt}}</text>
          </view>
        </view>
        <view class='seco'>
          <view class='goods' wx:for="{{item.order_detail}}" wx:key="{{index}}" data-idx="{{index}}">
            <view class='zuo'>
              <image class='bim' src='{{item.photo_url}}'></image>
              <text class='name'>{{item.goods_name}}</text>
            </view>
            <view class='you'>
              <view class='nopr'>¥ {{item.unit_price}}</view>
              <view class='olpr'>¥ {{item.original_price}}</view>
              <view class='qua'>X{{item.quantity}}</view>
            </view>
          </view>
          <view class='detail'>
            <view class='bat'>微信支付金额：¥ {{item.wechat_pay_money}} 元</view>
            <view class='bat'>余额支付金额：¥ {{item.y_help.yue_money}} 元</view>
            <view class='bat'>已优惠金额：¥ {{item.discount_money}} 元</view>
            <view class='bat'>总支付金额：¥ {{item.total_to_pay_money}} 元</view>
            <view class='bat'>支付时间：{{item.y_help.zhifu_time}}</view>
            <view class='bat'>下单时间：{{item.y_help.xiadan_time}}</view>
          </view>
        </view>
        <view class='thir'>
          <view class='lef'>
            <view class='texty'>订单类型：</view>
            <view class='orty' style="color:{{item.y_help.leixing.col}}; border-color:{{item.y_help.leixing.col}}">{{item.y_help.leixing.txt}}</view>
          </view>
          <view class='rig'>查看详情</view>
        </view>
      </view>
      <view class='bot'></view>
    </scroll-view>
  </swiper-item>
  <swiper-item>
    <scroll-view class='con' scroll-y="true">
      <view class='aro' wx:for="{{records}}" wx:key="{{index}}" data-idx="{{index}}">
        <view class='records'>
          <view class='row'>
            <view>用户姓名: {{item.username}}</view>
            <view wx:if="{{item.type == '0'}}">管理员添加</view>
            <view wx:elif="{{item.type == '1'}}">微信支付</view>
            <view wx:elif="{{item.type == '2'}}">兑换码支付</view>
            <view wx:elif="{{item.type == '3'}}">优惠活动奖励</view>
            <view wx:elif="{{item.type == '4'}}">正常消费</view>
          </view>
          <view class='row'>
            <view>消费品: {{item.goods_name}}</view>
            <view wx:if="{{item.consume_times < 0}}">增加: {{-item.consume_times}}次</view>
            <view wx:elif="{{item.consume_times > 0}}">消费: {{item.consume_times}}次</view>
          </view>
          <view class='row'>
            <view>消费时间: {{item.consume_timestamp}}</view>
          </view>
          <view class='row'>备注: {{item.note}} </view>
        </view>
      </view>
    </scroll-view>
  </swiper-item>
</swiper>

<view class='back' bindtap='back'>
  <text>返回首页</text>
</view>