/* pages/clock/clock.wxss */

.inf {
  top: 0rpx;
  width: 100%;
  height: 250rpx;
  background-color: #ff7d00;
  position: absolute;
}

.data_all {
  margin-top: 20rpx;
  margin-left: 5%;
  margin-right: 5%;
  height: 45%;
  width: 90%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.first {
  width: 31%;
  height: 100%;
}

.second {
  width: 31%;
  height: 100%;
  border-style: solid solid solid solid;
  border-color: white;
  border-width: 0rpx 4rpx 0px 4rpx;
}

.third {
  width: 31%;
  height: 100%;
}

.onthe {
  height: 36%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  font-size: 30rpx;
  font-weight: bold;
  color: white;
}

.under {
  margin-top: 8%;
  height: 54%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 48rpx;
  color: white;
  font-weight: bold;
}

.bcir {
  top: 150rpx;
  left: 225rpx;
  right: 225rpx;
  width: 300rpx;
  height: 300rpx;
  border-radius: 50%;
  background-color: white;
  position: absolute;
}

.sciry {
  margin-top: 50rpx;
  margin-left: 50rpx;
  margin-right: 50rpx;
  width: 200rpx;
  height: 200rpx;
  border-radius: 50%;
  background-color: #ff7d00;
}

.scirg {
  margin-top: 50rpx;
  margin-left: 50rpx;
  margin-right: 50rpx;
  width: 200rpx;
  height: 200rpx;
  border-radius: 50%;
  background-color: #49cb4a;
}

.daka {
  width: 100%;
  height: 200rpx;
  text-align: center;
  font-size: 45rpx;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tips {
  height: 50rpx;
  width: 750rpx;
  top: 400rpx;
  justify-content: center;
  font-size: 30rpx;
  color: #8a8a8a;
  position: absolute;
}

.drawer_screen {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: #000;
  opacity: 0.2;
  overflow: hidden;
}

.drawer_attr_box {
  width: 100%;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1001;
  background: #fff;
}

.myadd {
  margin-top: 470rpx;
}

.box {
  display: flex;
}

.box-lr {
  flex-direction: row;
}

.box-rl {
  flex-direction: row-reverse;
}

.box-tb {
  flex-direction: column;
}

.box-bt {
  flex-direction: column-reverse;
}

.box-pack-center {
  justify-content: center;
}

.box-pack-start {
  justify-content: flex-start;
}

.box-pack-end {
  justify-content: flex-end;
}

.box-pack-between {
  justify-content: space-between;
}

.box-pack-around {
  justify-content: space-around;
}

.box-align-center {
  align-items: center;
}

.box-align-start {
  align-items: flex-start;
}

.box-align-end {
  align-items: flex-end;
}

.self-align-center {
  align-self: center;
  margin: 0 auto;
}

.self-align-start {
  align-self: flex-start;
}

.self-align-end {
  align-self: flex-end;
}

.self-align-stretch {
  align-self: stretch;
}

.box-wrap {
  flex-wrap: wrap;
}

.box-nowrap {
  flex-wrap: nowrap;
}

.flex {
  flex-grow: 1;
}

.shrink {
  flex-shrink: 1;
}

.bg {
  background-image: linear-gradient(to bottom, #faefe7, #ffcbd7);
  overflow: hidden;
}

.brown-color {
  color: #784344;
}

.pink-color {
  color: #ff7d00;
  /* ff629a */
}

.white-color {
  color: #fff;
}

.fs24 {
  font-size: 36rpx;
}

.fs28 {
  font-size: 40rpx;
}

.fs32 {
  font-size: 44rpx;
}

.fs36 {
  font-size: 48rpx;
}

.top-handle {
  height: 80rpx;
}

.prev {
  text-align: right;
  height: 80rpx;
}

.next {
  height: 80rpx;
}

.prev-handle {
  width: 80rpx;
  height: 100%;
}

.next-handle {
  width: 80rpx;
  height: 100%;
}

.date-area {
  width: 50%;
  height: 80rpx;
  text-align: center;
}

.weeks {
  height: 50rpx;
  line-height: 50rpx;
  opacity: 0.5;
}

.week {
  text-align: center;
}

.days {
  height: 500rpx;
}

.grid {
  width: 107.1428571429rpx;
}

.day {
  width: 60rpx;
  height: 60rpx;
  color: #49cb4a;
  /* 88d2ac; */
  font-size: 32rpx;
  font-weight: 200;
}

.border-radius {
  border-radius: 50%;
  position: relative;
  left: 0;
  top: 0;
  color: #fff;
}

.pink-bg {
  background-color: #ff7d00;
  /* ff629a; */
}

.purple-bg {
  background-color: #b8b8f1;
}

.right-triangle::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 15rpx solid transparent;
  border-left-color: #ff629a;
  position: absolute;
  right: -22rpx;
  top: 18rpx;
}

.left-triangle::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 15rpx solid transparent;
  border-right-color: #ff629a;
  position: absolute;
  left: -22rpx;
  top: 18rpx;
}

.tips {
  text-align: center;
  margin-top: 20rpx;
  margin-bottom: 20rpx;
}

.types {
  background-color: #ffedf4;
  height: 50rpx;
}

.types-desc {
  padding: 0 20rpx;
}

.type-name {
  margin-top: 50rpx;
  margin-bottom: 30rpx;
}

.type-desc {
  padding: 0 35rpx;
  line-height: 38rpx;
}

.explain {
  border-top: 1px solid #eee;
  width: 90%;
  margin: 20rpx 5% 20rpx 5%;
  padding: 20rpx 0;
}

.explain-title {
  font-weight: bold;
  margin-bottom: 15rpx;
}

.explain-item {
  padding: 8rpx 20rpx;
  color: #fff;
}

.left-border-radius {
  border-top-left-radius: 20rpx;
  border-bottom-left-radius: 20rpx;
}

.right-border-radius {
  border-top-right-radius: 20rpx;
  border-bottom-right-radius: 20rpx;
}

.picker-btns {
  height: 120rpx;
  line-height: 120rpx;
  border-bottom: 1rpx solid #ff7d00;
  /* ff7ca0; */
}

.picker-confirm {
  font-size: 35rpx;
  margin-right: 50rpx;
}

.picker-cancel {
  font-size: 35rpx;
  margin-left: 50rpx;
}

.picker-view {
  color: #ff7d00;
  /* ff7ca0; */
  text-align: center;
}

.reward_in {
  top: 275rpx;
  left: 550rpx;
  /* right: 225rpx; */
  width: 100rpx;
  height: 100rpx;
  position: fixed;
  font-size: 0;
}

pic_rewards {
  width: 50rpx;
  height: 50rpx;
  /* margin: 100rpx; */
  display: fixed;
}

.reward_in_img {
  width: 100rpx;
  height: 100rpx;
}

.reward_in_2 {
  font-family: SimSong;
  color: #ff7d00;
  font-size: 25rpx;
}

.red_point{
  display: block;
  background: #f00;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  top: 5px;
  right: 0px;
  position: absolute;
}
