<!--pages/about/about.wxml-->
<view class='out'>
  <view class='up' wx:if="{{is_show}}">
    <image class='img' src='/images/bvip.png'></image>
    <text class='flag'>会员精灵</text>
    <text class='add'>北京乐享奇迹科技信息有限公司</text>
    <text class='add'>地址：北京市海淀区西土城路10号</text>
  </view>
  <text class='per' bindtap='callhim' wx:if="{{is_show}}">开发请联系：施经理 18811593392</text>
  <image class="image" src="/images/connect_us.jpg" bindtap='saveImgToPhotosAlbumTap' wx:if="{{is_show}}"></image>
  <text class='keep' wx:if="{{is_show}}">（点击图片保存到手机相册）</text>
  <view class='bot'>
    <text class='text'>当前版本: 1810230835</text>
    <text class='text'>Copyright © 2011-2018 www.joymem.com.</text>
    <text class='text'>All Rights Reserved</text>
  </view>
</view>