<!--pages/buygoods/buygoods.wxml-->
<scroll-view class="cont" scroll-y="true">
  <view class='inform'>
    <view class='lin' style='border-bottom: 1rpx solid #edece8;'>
      <view class='le'>收件人：</view>
      <input class='ri' placeholder='请在此输入您的姓名' placeholder-style="font-size:34rpx; color:#dbdbdb;" type='text' bindinput='receiverInput'></input>
    </view>
    <view class='lin' style='border-bottom: 1rpx solid #edece8;'>
      <view class='le'>手机号：</view>
      <input class='ri' maxlength="11" placeholder='请在此输入您的手机号' placeholder-style="font-size:34rpx; color:#dbdbdb;" type='number' bindinput='telnumberInput'></input>
    </view>
    <view class='lin'>
      <view class='le'>地址：</view>
      <input class='ri' placeholder='请在此输入您的收货地址' placeholder-style=" font-size:34rpx; color:#dbdbdb;" type='text' bindinput='addressInput'></input>
    </view>
  </view>
  <view class='ite'>
    <view class='tit'>
      <image src='/images/dianpu.png' class='img'></image>
      <view class='nam'>{{company_name}}</view>
    </view>
    <view class='tmp'>
      <view class='good' wx:for="{{buydata.goods}}" data-id="{{item.goodid}}">
        <image class='ur' src='{{item.gooddetail.img_url}}'></image>
        <view class='did'>
          <view class="carts-text">
            <text class="carts-title">{{item.gooddetail.name}}</text>
            <view class="carts-subtitle">
              <text class='txt'>￥ {{item.gooddetail.original_price}}</text>
              <text class="carts-price">￥ {{item.gooddetail.unit_price}}</text>
            </view>
          </view>
          <view class='num'>
            <text class='numin'>X {{item.numb}}</text>
          </view>
        </view>
      </view>
    </view>
  </view>
  <view class='detail'>
    <view class='ro'>
      <view class='zuo'>配送方式</view>
      <view class='you'>{{buydata.send.total_delivery_text}}</view>
    </view>
    <view class='ro'>
      <view class='zuo'>买家留言</view>
      <input class='you' maxlength="200" placeholder='可填写偏好或要求，不超过200字' placeholder-style=" font-size:34rpx; color:#dbdbdb;" type='text' style='width:100%;' bindinput='messageInput'></input>
    </view>
    <view class='rono'>
      <view class='zuo'>合计</view>
      <view class='you'>￥ {{buydata.allm}}</view>
    </view>
  </view>
  <view class='rubbish'></view>
  <view class='addbot' bindtap='about'>
    <view class='addbotone'>会员精灵 提供技术支持</view>
    <view class='addbottwo'>国内领先的新零售智能商业服务商</view>
  </view>
  <view class='rubbish'></view>
</scroll-view>
<view class='botall'>
  <view class='wenzi'>
    <view class='tx'>待支付：
      <text style='color: #ff7d00; '>{{buydata.allm}}</text>
    </view>
  </view>
  <view class='butt' bindtap='truebuy'>立即购买</view>
</view>